#header{
    height: 80px;
    margin: 0;
}


#navbar {
    background-color: black;
    color: #fff4fd;
    margin: 0;
    padding: 0;
}

#navbar li {
    padding: 5px;
    opacity: 10px;
}
#navbar li:hover{
    background-color: white;
    color: black;
    border: 0px solid;
    border-radius: 2px;
}

#navbar-left{
    border: 1px solid skyblue;
    height: 500px;
    width: 10%;
    background-color: skyblue;
    margin: 0;

}

#content{
    background-color: greenyellow;
    margin: 0;

}
.btn{
    alignment: right;
}

table {
    height: 100px;
    width: 200px;
    text-align: center;
    border-radius: 5px;

}

table th{
    background-color: rgba(0, 0, 0, 0.36);
    text-align: center;
    color: white;
}